@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}
.swiper {
  margin-top: 3rem;
}
.swiper-wrapper {
  padding-top: 20px;
  padding-bottom: 4.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(29, 191, 115) !important;
}

* {
  box-sizing: border-box;
}
